Repository AllenInstitute/MIES, pull requests merged in 2023-07, with the labels that each got.

#1812 Fix abort on daephys config save
  Packages/MIES/MIES_Configuration.ipf
  Packages/MIES/MIES_Utilities.ipf
Labels: DA_Ephys, JSON Configuration

#1807 Remove inserted TP on unassociated DA channels
  Packages/MIES/MIES_Constants.ipf
  Packages/MIES/MIES_DAEphys.ipf
  Packages/MIES/MIES_DAEphys_Macro.ipf
  Packages/MIES/MIES_DataConfigurator.ipf
  Packages/MIES/MIES_Epochs.ipf
  Packages/MIES/MIES_Structures.ipf
  Packages/MIES/MIES_WaveDataFolderGetters.ipf
  Packages/MIES/labnotebook_numerical_description.itx
  Packages/doc/epoch_information.rst
  Packages/tests/HardwareBasic/UTF_Epochs.ipf
Labels: DA_Ephys, Testpulse

#1829 Code Style fixes
  Packages/MIES/ACL_TabUtilities.ipf
  Packages/MIES/ACL_UserdataEditor.ipf
  Packages/MIES/MIES_AmplifierInteraction.ipf
  Packages/MIES/MIES_AnalysisBrowser.ipf
  Packages/MIES/MIES_AnalysisBrowser_SweepBrowser_Export.ipf
  Packages/MIES/MIES_AnalysisFunctions.ipf
  Packages/MIES/MIES_AnalysisFunctions_Dashboard.ipf
  Packages/MIES/MIES_BackgroundWatchdog.ipf
  Packages/MIES/MIES_Blowout.ipf
  Packages/MIES/MIES_BrowserSettingsPanel.ipf
  Packages/MIES/MIES_CheckInstallation.ipf
  Packages/MIES/MIES_Configuration.ipf
  Packages/MIES/MIES_DAC-Hardware.ipf
  Packages/MIES/MIES_DAEphys.ipf
  Packages/MIES/MIES_DataBrowser.ipf
  Packages/MIES/MIES_DataConfigurator.ipf
  Packages/MIES/MIES_DebugPanel.ipf
  Packages/MIES/MIES_Debugging.ipf
  Packages/MIES/MIES_EnhancedWMRoutines.ipf
  Packages/MIES/MIES_Epochs.ipf
  Packages/MIES/MIES_ExperimentDocumentation.ipf
  Packages/MIES/MIES_GuiPopupMenuExt.ipf
  Packages/MIES/MIES_GuiUtilities.ipf
  Packages/MIES/MIES_IgorHooks.ipf
  Packages/MIES/MIES_LogbookViewer.ipf
  Packages/MIES/MIES_Menu.ipf
  Packages/MIES/MIES_MiesUtilities.ipf
  Packages/MIES/MIES_NeuroDataWithoutBorders.ipf
  Packages/MIES/MIES_Oscilloscope.ipf
  Packages/MIES/MIES_PackageSettings.ipf
  Packages/MIES/MIES_PressureControl.ipf
  Packages/MIES/MIES_ProgrammaticGUIControl.ipf
  Packages/MIES/MIES_PulseAveraging.ipf
  Packages/MIES/MIES_RepeatedAcquisition.ipf
  Packages/MIES/MIES_StimsetAPI.ipf
  Packages/MIES/MIES_SweepFormula.ipf
  Packages/MIES/MIES_SweepFormula_Helpers.ipf
  Packages/MIES/MIES_TestPulse.ipf
  Packages/MIES/MIES_Utilities.ipf
  Packages/MIES/MIES_WaveBuilder.ipf
  Packages/MIES/MIES_WaveBuilderPanel.ipf
  Packages/MIES/MIES_WaveDataFolderGetters.ipf
  Packages/tests/Basic/UTF_Configuration.ipf
  Packages/tests/Basic/UTF_PGCSetAndActivateControl.ipf
  Packages/tests/Basic/UTF_SweepFormula.ipf
  Packages/tests/Basic/UTF_Utils.ipf
  Packages/tests/HardwareBasic/UTF_Databrowser.ipf
  Packages/tests/HardwareBasic/UTF_SweepFormulaHardware.ipf
  Packages/tests/UTF_HelperFunctions.ipf
Labels: CodeQuality
